{% extends 'base.html' %}
{% block title %}Inicio{% endblock %}
{% block content %}
<div class="container mt-4">
    <div class="p-5 mb-4 bg-white rounded-3 shadow-sm">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Bienvenido al sistema de gestión de La Fornería</h1>
            <p class="col-md-8 fs-4">Usa el menú superior para navegar entre las distintas secciones del sistema.</p>
            
            <p class="text-muted mt-3">Has visitado esta página {{ visitas }}.</p>
        </div>
    </div>
</div>
{% endblock %}