{% extends 'base.html' %}
{% block title %}Formulario de Producto{% endblock %}
{% block content %}
<div class="container mt-4">
    <h1>{{ form.instance.pk|yesno:"Editar Producto,Agregar Producto" }}</h1>
    <a href="{% url 'dispositivos:producto_list' %}" class="btn btn-secondary mb-3">Volver a Productos</a>
    <div class="card shadow-sm">
        <div class="card-body">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success mt-3">Guardar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}