{% extends 'base.html' %}

{% block title %}Lista de Ventas{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Lista de Ventas</h2>
    <a href="{% url 'dispositivos:venta_create' %}" class="btn btn-success mb-3">Registrar Venta</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Cliente</th>
                <th>Usuario</th>
                <th>Estado del Pedido</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for venta in ventas %}
            <tr>
                <td>{{ venta.idventa }}</td>
                <td>{{ venta.clientes_idclientes.idclientes }}</td> <td>{{ venta.Usuarios.email }}</td>
                <td>{{ venta.EstadoPedido }}</td>
                <td>
                    <a href="{% url 'dispositivos:venta_update' venta.idventa %}" class="btn btn-warning btn-sm">Editar</a>
                    
                    <a href="{% url 'dispositivos:venta_delete' venta.idventa %}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="7" class="text-center">No hay ventas registradas.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}